<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @author.country %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @author.sex %>
</p>

<p>
  <strong>Note:</strong>
  <%= simple_format(@author.note, {}, wrapper_tag: "span") %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
